{% macro ifdef(key,value) %}
{% if value is defined %}
{{key}} = {{value}};
{% endif %}
{% endmacro %}

{% macro ifdefquoted(key, value)  %}
{% if value is defined %}
{{key}} = "{{value}}";
{% endif %}
{% endmacro %}
{
  /* *********************  Main SOGo configuration file  **********************
   *                                                                           *
   * Since the content of this file is a dictionary in OpenStep plist format,  *
   * the curly braces enclosing the body of the configuration are mandatory.   *
   * See the Installation Guide for details on the format.                     *
   *                                                                           *
   * C and C++ style comments are supported.                                   *
   *                                                                           *
   * This example configuration contains only a subset of all available        *
   * configuration parameters. Please see the installation guide more details. *
   *                                                                           *
   * ~sogo/GNUstep/Defaults/.GNUstepDefaults has precedence over this file,    *
   * make sure to move it away to avoid unwanted parameter overrides.          *
   *                                                                           *
   * **************************************************************************/

  /* Database configuration (mysql:// or postgresql://) */
  SOGoProfileURL = "{{ sogo_profile_url }}";
 
  {{ ifdefquoted('OCSFolderInfoURL',sogo_ocs_folder_info_url) }}
  {{ ifdefquoted('OCSStoreURL',sogo_ocs_store_url) }}
  {{ ifdefquoted('OCSAclURL',sogo_ocs_acl_url) }}

  {{ ifdefquoted('OCSCacheFolderURL',sogo_ocs_cache_folder_url) }}

  {{ ifdefquoted('OCSSessionsFolderURL', sogo_ocs_sessions_folder_url) }}

  /* Mail */
  {{ ifdef('SOGoDraftsFolderName', sogo_drafts_folder_name) }}

  {{ ifdef('SOGoSentFolderName', sogo_sent_folder_name) }}

  {{ ifdef('SOGoTrashFolderName', sogo_trash_folder_name) }}

    {{ ifdef('SOGoJunkFolderName', sogo_junk_folder_name) }}

  {{ ifdefquoted('SOGoIMAPServer', sogo_imap_server) }}

  {{ ifdefquoted('SOGoSieveServer', sogo_sieve_server) }}

  {{ ifdef('SOGoSMTPServer', sogo_smtp_server) }}

  {{ ifdef('SOGoMailDomain', sogo_mail_domain) }}

  {{ ifdef('SOGoMailingMechanism', sogo_mailing_mechanism) }}

  {{ ifdef('SOGoForceExternalLoginWithEmail', sogo_force_external_login_with_email) }}

  {{ ifdefquoted('SOGoMailSpoolPath', sogo_mail_spool_path) }}

  {{ ifdefquoted('NGImap4ConnectionStringSeparator', sogo_ng_imap4_connection_string_separator) }}

  /* Notifications */
  {{ ifdef('SOGoAppointmentSendEMailNotifications', sogo_appointment_send_email_notifications) }}

  {{ ifdef('SOGoACLsSendEMailNotifications', sogo_acls_send_email_notifications) }}

  {{ ifdef('SOGoFoldersSendEMailNotifications', sogo_folders_send_email_notifications) }}

  /* Authentication */
  {{ ifdef('SOGoPasswordChangeEnabled', sogo_password_changed_enabled) }}

  SOGoUserSources = (
{% for s in sogo_user_sources %}
    {
      type = {{ s.type }};
      id = {{ s.id }};
      {{ ifdef('isAddressBook', s.is_address_book) }} 
      {{ ifdef('canAuthenticate', s.can_authenticate) }}

{% if s.type == 'ldap' %}
      baseDN = "{{ s.base_dn }}";
      {{ ifdef('CNFieldName', s.cn_field_name) }}
      {{ ifdef('UIDFieldName', s.uid_field_name) }}
      {{ ifdef('IDFieldName', s.id_field_name) }}
      {{ ifdef('bindFields', s.bind_fields) }}
      {{ ifdefquoted('bindDN', s.bind_dn) }}
      {{ ifdef('bindPassword', s.bind_password) }}
      {{ ifdef('displayName', s.display_name) }}
      {{ ifdef('hostname', s.hostname) }}
      {{ ifdef('filter', s.filter) }}
      {{ ifdef('bindAsCurrentUser', s.bind_as_current_user) }}
{% endif %}

{% if s.type == 'sql' %}
      viewURL = "{{ s.view_url }}";
      {{ ifdef('userPasswordAlgorithm', s.user_password_algorithm) }}
{% endif %}
    },
{% endfor %}
  );

  /* Web Interface */
  {{ ifdef('SOGoPageTitle', sogo_page_title) }}
  {{ ifdef('SOGoVacationEnabled', sogo_vacation_enabled) }}
  {{ ifdef('SOGoForwardEnabled', sogo_forward_enabled) }}
  {{ ifdef('SOGoSieveScriptsEnabled', sogo_sieve_scripts_enabled) }}
  {{ ifdef('SOGoMailAuxiliaryUserAccountsEnabled', sogo_mail_auxiliary_user_accounts_enabled) }}
  {{ ifdef('SOGoTrustProxyAuthentication', sogo_trust_proxy_authentication) }}
  {{ ifdef('SOGoXSRFValidationEnabled', sogo_xsrf_validation_enabled) }}

  /* General - SOGoTimeZone *MUST* be defined */
  {{ ifdef('SOGoLanguage', sogo_language) }}
  SOGoTimeZone = {{ sogo_timezone }};

{% if sogo_calendar_default_roles is defined %}
  SOGoCalendarDefaultRoles = (
    {{ soog_calendar_default_roles | join(',') }}
  );
{% endif %}

  {{ ifdef('SOGoSuperUsernames', sogo_super_usernames) }}
  {{ ifdef('SxVMemLimit', sogo_sx_vmem_limit) }}
  {{ ifdef('WOPidFile', sogo_wo_pid_file) }}
  {{ ifdef('SOGoMemcachedHost', sogo_memcached_host) }}

  /* Debug */
  {{ ifdef('SOGoDebugRequests', sogo_debug_requests) }}
  {{ ifdef('SoDebugBaseURL', sogo_so_debug_base_url) }}
  {{ ifdef('ImapDebugEnabled', sogo_imap_debug_enabled) }}
  {{ ifdef('LDAPDebugEnabled', sogo_ldap_debug_enabled) }}
  {{ ifdef('PGDebugEnabled', sogo_pg_debug_enabled) }}
  {{ ifdef('MySQL4DebugEnabled', sogo_mysql4_debug_enabled) }}
  {{ ifdef('SOGoUIxDebugEnabled', sogo_uix_debug_enabled) }}
  {{ ifdef('WODontZipResponse', sogo_wo_dont_zip_response) }}
  {{ ifdef('WOLogFile', sogo_wo_log_file) }}
 
}
